        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #5C247A;
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #f8f9fa;
            padding: 10px 0;
            text-align: center;
        }
        nav a {
            margin: 0 10px;
            color: #E56997;
            text-decoration: none;
        }
        nav a:hover {
            color: #BD97CB;
        }
        .footer {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }
        .menu-icon {
            display: none;
            cursor: pointer;
        }
        @media only screen and (max-width: 768px) {
            nav a {
                display: block;
                padding: 10px 0;
            }
            .menu-icon {
                display: block;
            }
            .menu-items {
                display: none;
            }
            .menu-items.active {
                display: block;
            }
        }